<div class="container p-4">
    <div class="col-md-12" style="margin-bottom: 5px;">
        <div class="card text-center border border-primary">
            <h3 class="card-title text-uppercase" style="color: rgb(44, 142, 253);">
                Perfil
            </h3>
        </div>


        <div class="card  mx-auto m-2  border border-primary" 
            style="width: 50rem; ">
            
            
                <h5 class="card-title text-uppercase text-center" style="color: rgb(0, 0, 0); ">
                    Información Personal</h5>
            
                
            
            <div class="m-2">
                <form action="/links/edit-profile" method="post">
                    <div class="row">
                        <div class="row panel-content col-6">
                            <div class="columns content-div">
                                <label for="exampleInputPassword1" class="form-label">Email</label>

                                <input class="form-control input-form-gray  border border-primary" disabled="" type="text" id="inputEmail"
                                    placeholder="Email" name="plEmail" value="{{user.email}}">
                                <div class="form-error-message plEmail"></div>
                            </div>
                        </div>
                        <div class="mb-3 col-6" >
                            <label for="exampleInputPassword1" class="form-label">Nombres Completos</label>
                            <input type="text" value="{{user.name}}" name="name" class="form-control  border border-primary">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="exampleInputPassword1" class="form-label">Cedula/Pasaporte</label>
                            <input type="number" value="{{user.dni}}" name="dni" class="form-control  border border-primary" required>
                        </div>
                        <div class="mb-3 col-6">
                            <label for="exampleInputPassword1" class="form-label">Número de Celular</label>
                            <input type="number" value="{{user.phone}}" name="phone" class="form-control  border border-primary" required>
                        </div>

                    </div>
                  
                        <div class="mb-3 col-6">
                            <label for="exampleInputPassword1" class="form-label">Profesión</label>
                            <input type="text" value="{{user.profession}}" name="profession" class="form-control  border border-primary"
                                required>
                        </div>

                    </div>
                    <div class="mb-3 col-12">
                        <label for="exampleInputPassword1" class="form-label">Dirección</label>
                        <textarea name="address" rows="2" class="form-control  border border-primary" required
                            placeholder="Dirección">{{user.address}}</textarea>
                    </div>

                    <div class="mb-3 col-12">
                        <label for="exampleInputPassword1" class="form-label">Descripción</label>
                        <textarea name="description" rows="2" class="form-control  border border-primary" required
                            placeholder="Description">{{user.description}}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>